<div id="Home_Index_Password_passwordEditWin" class="mini-window" title="修改密码" style="width: 330px; height: 200px;"
    showmaxbutton="false" showfooter="true" showtoolbar="true" iconStyle="background: url(/content/icons/32x32/key.png) no-repeat;"
    showmodal="true" allowresize="true" allowdrag="true">
    <div property="toolbar">
        <a class="mini-button Home_Index_Password_btnOk" iconcls="icon-save" style="width: 60px; margin-right: 10px;">保存</a>
        <a class="mini-button Home_Index_Password_btnCancel" iconstyle="background:url(/content/icons/16x16/arrow_redo.png no-repeat;" style="width: 60px;">取消</a>
    </div>
    <div property="footer" style="text-align: center;">
        <a class="mini-button Home_Index_Password_btnOk" iconcls="icon-save" style="width: 60px; margin-right: 10px;">保存</a>
        <a class="mini-button Home_Index_Password_btnCancel" iconstyle="background:url(/content/icons/16x16/arrow_redo.png no-repeat;" style="width: 60px;">取消</a>
    </div>
    <form id="Home_Index_Password_passwordEditForm" method="post">
        <div style="padding: 5px;">
            <table>
                <tr>
                    <td>旧密码
                    </td>
                    <td>
                        <input name="OldPassword" class="mini-password" style="width: 200px;"
                            emptytext="当前登录的密码" required="true" />
                    </td>
                </tr>
                <tr>
                    <td>新密码
                    </td>
                    <td>
                        <input name="Password" class="mini-password" style="width: 200px;"
                            emptytext="请输入新密码" required="true" />
                    </td>
                </tr>
                <tr>
                    <td>重复新密码
                    </td>
                    <td>
                        <input name="PasswordAgain" class="mini-password" style="width: 200px;"
                            emptytext="重复输入新密码以确认" required="true" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
