<select id="selectSkin" style="width: 55px;">
    <option value="">默认</option>
    <option value="blue">蓝色</option>
    <option value="gray">灰色</option>
    <option value="olive2003">橄榄</option>
    <option value="blue2003">深蓝</option>
    <option value="blue2010">浅蓝</option>
</select>
<script type="text/javascript" src="@Url.Content("~/Scripts/Views/Home/Partials/SkinSelector.cshtml.js")"></script>
