@{
	var prifix = "Ac_Account_Catalogs_";
}
<h2>// TODO:目录是单继承的，角色是多继承的，工作组是无继承的。目录是组织，角色是职能，工作组是跨组织的资源组（账户资源 + 角色资源）。</h2>
<script type="text/javascript" src="@Url.Content("~/Scripts/Areas/Ac/Account/Catalogs.cshtml.js")"></script>
@if (Request.IsAjaxRequest()) {
	<script src="@Url.Content("~/Scripts/tooltipBoot.js")"></script>
}