@{
	var userTabView = Html.GetRuntimeUivIew("Contractors");
}
@section Head{
}
<div id="Ac_Account_Index_helperSplitter" class="mini-splitter helperSplitter" style="width: 100%; height: 100%;">
	<div showcollapsebutton="true">
		<div class="mini-splitter" style="width: 100%; height: 100%;">
			<div size="270" class="mini-toolbar" showcollapsebutton="true">
				<div class="mini-toolbar" style="padding: 2px; border-left: 0; border-right: 0; border-top: 0px;">
					<input id="Ac_Account_Index_keyCatalog" emptytext="在展开过的目录中搜索" class="mini-textbox" style="width: 150px;" />
					<a id="Ac_Account_Index_btnSearchCatalog" tooltip="离线搜索不搜索未展开的目录节点" class="mini-button" iconcls="icon-search" style="width: 60px;">搜索</a>
					@{Html.RenderPartial("Partials/UiViewButtons");}
				</div>
				<span id="Ac_Account_Index_msg" style="color: red;display:none;">没有匹配项</span>
				<div class="mini-fit">
					<ul id="Ac_Account_Index_treeCatalog" class="mini-tree" style="height: 100%;"
						url="@Url.Action("GetNodesByParentId", "Catalog", new { area = "Ac" })"
						showtreeicon="true" textfield="Name" expandonload="true"
						idfield="Id" parentfield="ParentId" resultastree="false"></ul>
				</div>
			</div>
			<div showcollapsebutton="true">
				<div id="Ac_Account_Index_tabs1" class="mini-tabs" style="width: 100%; height: 100%;" activeindex="0"
					 bodystyle="padding:0;border:0;">
					<div name="userTab" title="@userTabView.Title" iconstyle="background:url(/content/icons/16x16/@userTabView.Icon)">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div size="250" showcollapsebutton="true" visible="false" expanded="false">
		@{Html.RenderPartial("Partials/HelpPane");}
	</div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/Areas/Ac/Account/Index.cshtml.js")"></script>
@if (Request.IsAjaxRequest()) {
	<script src="@Url.Content("~/Scripts/tooltipBoot.js")"></script>
}