<div property="toolbar">
    <a class="mini-button Select_btnSelectOk" iconcls="icon-save" style="width: 60px; margin-right: 10px;">确定</a>
    <a class="mini-button Select_btnSelectOkClose" iconcls="icon-save" style="width: 100px; margin-right: 10px;">确定并关闭</a>
    <a class="mini-button Select_btnSelectCancel" iconstyle="background:url(/content/icons/16x16/arrow_redo.png no-repeat;" style="width: 60px;">取消</a>
</div>
<div property="footer" style="text-align: center;">
    <a class="mini-button Select_btnSelectOk" iconcls="icon-save" style="width: 60px; margin-right: 10px;">确定</a>
    <a class="mini-button Select_btnSelectOkClose" iconcls="icon-save" style="width: 100px; margin-right: 10px;">确定并关闭</a>
    <a class="mini-button Select_btnSelectCancel" iconstyle="background:url(/content/icons/16x16/arrow_redo.png no-repeat;" style="width: 60px;">取消</a>
</div>
