<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
		<add name="InfraEntities" connectionString="metadata=res://*/InfraEntities.csdl|res://*/InfraEntities.ssdl|res://*/InfraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Application Name=Mis.InfraTable;&quot;" providerName="System.Data.SqlClient" />
		<add name="AcEntities" connectionString="metadata=res://*/AcEntities.csdl|res://*/AcEntities.ssdl|res://*/AcEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Application Name=Mis.AcTable;&quot;" providerName="System.Data.SqlClient" />
		<add name="IdentityEntities" connectionString="metadata=res://*/IdentityEntities.csdl|res://*/IdentityEntities.ssdl|res://*/IdentityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Application Name=Mis.IdentityTable&quot;" providerName="System.Data.SqlClient" />
		<add name="EdiEntities" connectionString="metadata=res://*/EdiEntities.csdl|res://*/EdiEntities.ssdl|res://*/EdiEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Application Name=Mis.EdiCore;&quot;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DefaultEntities" value="EdiEntities" />
		<!--注意：所有的与节点相关的配置均在数据库中，不要往config文件中或xml文件中放置任何与数据交换相关的任何配置，
		应全部放在数据库中。因为这些配置有四个进程在用：分发器、执行器、Mis系统、WebService系统。想象一下同步四份config是个什么状况-->
		<add key="BootDbConnString" value="server=.;database=Anycmd;uid=sa;pwd=123456;Application Name=Dispatcher.AnycmdFramework;" />
		<add key="InfraEntitiesDatabaseId" value="67E6CBF4-B481-4DDD-9FD9-1F0E06E9E1CB" />
		<add key="AcEntitiesDatabaseId" value="67E6CBF4-B481-4DDD-9FD9-1F0E06E9E1CB" />
		<add key="IdentityEntitiesDatabaseId" value="67E6CBF4-B481-4DDD-9FD9-1F0E06E9E1CB" />
		<add key="EdiEntitiesDatabaseId" value="A6FDCDC1-E12B-4D92-938F-59FC7D86DF49" />
		<add key="ProcessId" value="74AC36FE-E32D-47DB-9F43-7EC799660207" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<root>
			<!--OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL-->
			<level value="ALL" />
			<appender-ref ref="AdoNetAppender_SqlServer" />
			<!--<appender-ref ref="RollingLogFileAppender"/>-->
			<level value="INFO" />
			<appender-ref ref="ConsoleAppender" />
		</root>
		<!--<logger name="ErrorInfo">
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</logger>-->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="Debug" />
				<levelMax value="Info" />
			</filter>
			<param name="File" value="log\errorInfo.txt" />
			<param name="AppendToFile" value="true" />
			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="2MB" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<!--"%d %t %p %l %m %n”：  
				 1、%d输出日志时间点的日期或时间，默认格式为ISO8601，也可以在其后指定格式，比如：%d{yyyy-MM-dd HH:mm:ss}，输出类似：2005-7-19 17:49:27，刚好适合插入SQLServer；  
				 2、%t  产生该日志事件的线程名；  
				 3、%p 日志的log_level，如DEBUG、WARN或者INFO；  
				 4、%c  输出所属的类目，通常就是所在类的全名，如“iNotes.Default”；  
				 5、%m 日志的内容；  
				 6、%l  输出日志事件的发生位置，包括类目名、发生的线程，以及在代码中的行数。如write2database.main(write2database.java:33)；  
				 7、%n  输出一个回车换行符，Windows平台为“\r\n”，Unix平台为“\n”-->
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
			</layout>
		</appender>
		<appender name="AdoNetAppender_SqlServer" type="Anycmd.Logging.AnycmdAdoNetAppender,Anycmd.Logging">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="Info" />
				<levelMax value="Fatal" />
			</filter>
			<bufferSize value="0" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<commandText value="INSERT INTO ExceptionLog([LogOn],[Machine],[Process],[BaseDirectory],[Thread],[Level],[Logger],[Message],[Exception])                    VALUES (@logOn,@machine,@process,@baseDirectory,@thread,'anycmd.exceptionLogLevel.'+@level,@logger,@message,@exception)" />
			<parameter>
				<parameterName value="@logOn" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@machine" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@process" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{ProcessName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@baseDirectory" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{BaseDirectory}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="8000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>