@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mini-panel mini-fit" title="" style="width: 100%; height: 100%;"
	showfooter="true" showtoolbar="true" showheader="false">
	@{ Html.RenderPartial("Partials/EditBar"); }
	@{ Html.RenderPartial("Partials/Edit"); }
</div>