@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        对不起！出错了。系统已记录异常，相关人员会尽快处理。如严重影响工作进行，请报告管理员以加快解决。
    </h2>
</body>
</html>
@section Foot{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Shared/Error.cshtml.js")"></script>
}