<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkId=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="EdiEntities" connectionString="metadata=res://*/EdiEntities.csdl|res://*/EdiEntities.ssdl|res://*/EdiEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AnycmdEdi;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AcEntities" connectionString="metadata=res://*/AcEntities.csdl|res://*/AcEntities.ssdl|res://*/AcEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InfraEntities" connectionString="metadata=res://*/InfraEntities.csdl|res://*/InfraEntities.ssdl|res://*/InfraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdentityEntities" connectionString="metadata=res://*/IdentityEntities.csdl|res://*/IdentityEntities.ssdl|res://*/IdentityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>