<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServiceBaseUrl" value="http://localhost:20130/api/" />
		<add key="CredentialType" value="Signature" />
		<add key="SignatureMethod" value="HMAC_SHA1" />
		<add key="ClientType" value="node" />
		<add key="ClientId" value="E16EF438-0F95-4605-8556-2AE6E10F1240" />
		<add key="SecretKey" value="DF25BCB5-35E3-41E4-980F-64D916D806FF" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
