<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NPOI" version="2.0.6" targetFramework="net451" />
  <package id="ServiceStack" version="4.0.34" targetFramework="net451" />
  <package id="ServiceStack.Client" version="4.0.34" targetFramework="net451" />
  <package id="ServiceStack.Common" version="4.0.34" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.0.34" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.0.34" targetFramework="net451" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net451" />
</packages>