<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
		<add name="InfraEntities" connectionString="metadata=res://*/InfraEntities.csdl|res://*/InfraEntities.ssdl|res://*/InfraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Application Name=Mis.InfraTable;&quot;" providerName="System.Data.SqlClient" />
		<add name="AcEntities" connectionString="metadata=res://*/AcEntities.csdl|res://*/AcEntities.ssdl|res://*/AcEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Application Name=Mis.AcTable;&quot;" providerName="System.Data.SqlClient" />
		<add name="IdentityEntities" connectionString="metadata=res://*/IdentityEntities.csdl|res://*/IdentityEntities.ssdl|res://*/IdentityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Application Name=Mis.IdentityTable&quot;" providerName="System.Data.SqlClient" />
		<add name="EdiEntities" connectionString="metadata=res://*/EdiEntities.csdl|res://*/EdiEntities.ssdl|res://*/EdiEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;{0}Application Name=Mis.EdiCore;&quot;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DefaultEntities" value="EdiEntities" />
		<add key="EnableMultipleDatabases" value="True" />
		<!--注意：所有的与节点相关的配置均在数据库中，不要往config文件中或xml文件中放置任何与数据交换相关的任何配置，
		应全部放在数据库中。因为这些配置有四个进程在用：分发器、执行器、Mis系统、WebService系统。想象一下同步四份config是个什么状况-->
		<add key="BootDbConnString" value="server=.;database=Anycmd;uid=sa;pwd=111111;Application Name=Mis.AnycmdFramework;" />
		<add key="InfraEntitiesDatabaseId" value="67E6CBF4-B481-4DDD-9FD9-1F0E06E9E1CB" />
		<add key="AcEntitiesDatabaseId" value="67E6CBF4-B481-4DDD-9FD9-1F0E06E9E1CB" />
		<add key="IdentityEntitiesDatabaseId" value="67E6CBF4-B481-4DDD-9FD9-1F0E06E9E1CB" />
		<add key="EdiEntitiesDatabaseId" value="A6FDCDC1-E12B-4D92-938F-59FC7D86DF49" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WSSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:20140/ws.asmx" binding="basicHttpBinding" bindingConfiguration="WSSoap" contract="WS.WSSoap" name="WSSoap" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>