<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Xacml.net" type="Anycmd.Xacml.Configuration.SectionHandler, Anycmd"></section>
	</configSections>
	<Xacml.net>
		<attributeRepositories>
			<repository name="default" type="Anycmd.Xacml.Extensions.DefaultAttributeRepository, Anycmd">
				<Attribute AttributeId="urn:oasis:names:tc:xacml:1.0:subject:subject-id">
					<AttributeValue DataType="http://www.w3.org/2001/XMLSchema#string">Julius Hibbert</AttributeValue>
				</Attribute>
				<Attribute AttributeId="urn:oasis:names:tc:xacml:1.0:example:attribute:role">
					<AttributeValue DataType="http://www.w3.org/2001/XMLSchema#string">Physician</AttributeValue>
				</Attribute>
			</repository>
		</attributeRepositories>
		<policyRepositories>
			<repository name="default" type="Anycmd.Xacml.Extensions.DefaultPolicyRepository, Anycmd">
				<PolicySet PolicySetId="urn:oasis:names:tc:xacml:1.0:conformance-test:IIE001:policyset1" FilePath="../../xml/1.IIE001PolicySetId1.xml" xacmlVersion="Version11"/>
				<PolicySet PolicySetId="urn:oasis:names:tc:xacml:1.0:conformance-test:IIE002:policyset1" FilePath="../../xml/1.IIE002PolicySetId1.xml" xacmlVersion="Version11"/>
				<PolicySet PolicySetId="urn:oasis:names:tc:xacml:2.0:conformance-test:IIE001:policyset1" FilePath="../../xml/2.IIE001PolicySetId1.xml" xacmlVersion="Version20"/>
				<PolicySet PolicySetId="urn:oasis:names:tc:xacml:2.0:conformance-test:IIE002:policyset1" FilePath="../../xml/2.IIE002PolicySetId1.xml" xacmlVersion="Version20"/>
				<Policy PolicyId="urn:oasis:names:tc:xacml:1.0:conformance-test:IIE001:policy1" FilePath="../../xml/1.IIE001PolicyId1.xml" xacmlVersion="Version11"/>
				<Policy PolicyId="urn:oasis:names:tc:xacml:1.0:conformance-test:IIE002:policy1" FilePath="../../xml/1.IIE002PolicyId1.xml" xacmlVersion="Version11"/>
				<Policy PolicyId="urn:oasis:names:tc:xacml:1.0:conformance-test:IIE003:policy1" FilePath="../../xml/1.IIE003PolicyId1.xml" xacmlVersion="Version11"/>
				<Policy PolicyId="urn:oasis:names:tc:xacml:1.0:conformance-test:IIE003:policy2" FilePath="../../xml/1.IIE003PolicyId2.xml" xacmlVersion="Version11"/>
				<Policy PolicyId="urn:oasis:names:tc:xacml:2.0:conformance-test:IIE001:policy1" FilePath="../../xml/2.IIE001PolicyId1.xml" xacmlVersion="Version20"/>
				<Policy PolicyId="urn:oasis:names:tc:xacml:2.0:conformance-test:IIE002:policy1" FilePath="../../xml/2.IIE002PolicyId1.xml" xacmlVersion="Version20"/>
				<Policy PolicyId="urn:oasis:names:tc:xacml:2.0:conformance-test:IIE003:policy1" FilePath="../../xml/2.IIE003PolicyId1.xml" xacmlVersion="Version20"/>
				<Policy PolicyId="urn:oasis:names:tc:xacml:2.0:conformance-test:IIE003:policy2" FilePath="../../xml/2.IIE003PolicyId2.xml" xacmlVersion="Version20"/>

				<!-- In order to succesfully execute the IID029 test. The following lines must be the ONLY policies in the repository
				<Policy PolicyId="urn:oasis:names:tc:xacml:1.0:conformance-test:IID029:policy1" FilePath="../../xml/1.IID029Policy1.xml" xacmlVersion="Version11" />
				<Policy PolicyId="urn:oasis:names:tc:xacml:1.0:conformance-test:IID029:policy2" FilePath="../../xml/1.IID029Policy2.xml" xacmlVersion="Version11" />
				<Policy PolicyId="urn:oasis:names:tc:xacml:2.0:conformance-test:IID029:policy1" FilePath="../../xml/2.IID029Policy1.xml" xacmlVersion="Version20" />
				<Policy PolicyId="urn:oasis:names:tc:xacml:2.0:conformance-test:IID029:policy2" FilePath="../../xml/2.IID029Policy2.xml" xacmlVersion="Version20" />
				-->

				<!-- In order to succesfully execute the IID030 test. The following lines must be the ONLY policies in the repository
				<Policy PolicyId="urn:oasis:names:tc:xacml:1.0:conformance-test:IID030:policy1" FilePath="../../xml/1.IID030Policy1.xml" xacmlVersion="Version11" />
				<Policy PolicyId="urn:oasis:names:tc:xacml:1.0:conformance-test:IID030:policy2" FilePath="../../xml/1.IID030Policy2.xml" xacmlVersion="Version11" />
				<Policy PolicyId="urn:oasis:names:tc:xacml:2.0:conformance-test:IID030:policy1" FilePath="../../xml/2.IID030Policy1.xml" xacmlVersion="Version20" />
				<Policy PolicyId="urn:oasis:names:tc:xacml:2.0:conformance-test:IID030:policy2" FilePath="../../xml/2.IID030Policy2.xml" xacmlVersion="Version20" />
				-->
			</repository>
		</policyRepositories>
		<functionRepositories>
			<repository name="default" type="Anycmd.Xacml.Extensions.DefaultFunctionRepository, Anycmd">
			</repository>
		</functionRepositories>
		<dataTypeRepositories>
			<repository name="default" type="Anycmd.Xacml.Extensions.DefaultDataTypeRepository, Anycmd"/>
		</dataTypeRepositories>
	</Xacml.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>
