<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EdiEntities" connectionString="metadata=res://*/Engine.EdiEntities.csdl|res://*/Engine.EdiEntities.ssdl|res://*/Engine.EdiEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AnycmdEdi;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AcEntities" connectionString="metadata=res://*/Engine.AcEntities.csdl|res://*/Engine.AcEntities.ssdl|res://*/Engine.AcEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InfraEntities" connectionString="metadata=res://*/Engine.InfraEntities.csdl|res://*/Engine.InfraEntities.ssdl|res://*/Engine.InfraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdentityEntities" connectionString="metadata=res://*/Engine.IdentityEntities.csdl|res://*/Engine.IdentityEntities.ssdl|res://*/Engine.IdentityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>