@{
    ViewBag.Title = "关于";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <style type="text/css">
        .table td {
            border: solid 1px #ccc;
            padding: 2px 5px;
        }
    </style>
    <script type="text/javascript" charset="UTF-8" src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"></script>
</head>
<body>
    @{ Html.RenderPartial("Partials/About"); }
    <div style="clear:left;"></div>
</body>
</html>